transition(name="modal")
  .vuemodal-mask
    .vuemodal-close-area(@click="$emit('close')")
    .vuemodal-wrapper
      .vuemodal-container
        span#close.glyphicon.glyphicon-remove.pull-right(@click="$emit('close')" aria-hidden="true")
        .vuemodal-header
          h3
            slot(name="header") default header
        .vuemodal-body
          slot default body
        .vuemodal-footer
          slot(name="footer") default footer
